.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 120px;
    

}
.input{
    padding: 15px;

}
.create{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
